# Problem Statement

Given the following dataframe, df (below), drop all the rows where the contract_sign_date is between 2018-09-01 and 2018-10-13 (inclusive).

This is Data Interview Question #52.

In [1]:
# starter code
import pandas as pd
raw_data = {'vendor_id': [1, 2, 3, 4, 5, 6], 'name': ['vendor_schmendor', 'parts_r_us', 'vendor_king', 'vendor_diagram', 'venny', 'vendtriloquist'], 'contract_sign_date': ['2018-09-01', '2018-09-03', '2018-10-11', '2018-08-21', '2018-08-13', '2018-10-29'],'total_spend' :[34324, 23455, 77654, 23334, 94843, 23444]}
df = pd.DataFrame(raw_data, columns = ['vendor_id', 'name', 'contract_sign_date', 'total_spend'])

In [2]:
df

   vendor_id              name contract_sign_date  total_spend
0          1  vendor_schmendor         2018-09-01        34324
1          2        parts_r_us         2018-09-03        23455
2          3       vendor_king         2018-10-11        77654
3          4    vendor_diagram         2018-08-21        23334
4          5             venny         2018-08-13        94843
5          6    vendtriloquist         2018-10-29        23444

In [3]:
# store feature in a variable

feature = 'contract_sign_date'

In [4]:
# convert all the dates to date objects instead
df[feature] = pd.to_datetime(df[feature])
df[feature] = [d.date() for d in df[feature]]

In [5]:
# See the attributes we can now acces
print(df[feature][0])
print(df[feature][0].day)
print(df[feature][0].month)
print(df[feature][0].year)

2018-09-01
1
9
2018

In [6]:
col = df[feature]

In [7]:
col

0    2018-09-01
1    2018-09-03
2    2018-10-11
3    2018-08-21
4    2018-08-13
5    2018-10-29
Name: contract_sign_date, dtype: object

In [8]:
# get the indices of rows to remove in df
indices = list()
for index, row in enumerate(col.iloc()):
    if row.month == 9 or row.month == 10 and row.day <= 13:
        indices.append(index)
indices

[0, 1, 2]

In [9]:
df.drop(indices)

   vendor_id            name contract_sign_date  total_spend
3          4  vendor_diagram         2018-08-21        23334
4          5           venny         2018-08-13        94843
5          6  vendtriloquist         2018-10-29        23444