In [2]:
import pandas as pd
import datetime as dt

In [4]:
order_data = {
    'order_id': list(range(1, 7)),
    'channel': ['Online', 'Online', 'In-store', 'In-store', 'Online', 'Online'],
    'date': ['20180901', '20180903', '20181011', '20180821', '20180813', '20181029'],
    'month': ['September', 'September', 'October', 'August', 'August', 'October']
}
orders = pd.DataFrame(data=order_data)

In [5]:
orders

   order_id   channel      date      month
0         1    Online  20180901  September
1         2    Online  20180903  September
2         3  In-store  20181011    October
3         4  In-store  20180821     August
4         5    Online  20180813     August
5         6    Online  20181029    October

In [6]:
orders['date'] = pd.to_datetime(orders['date'])

In [8]:
orders

   order_id   channel       date      month
0         1    Online 2018-09-01  September
1         2    Online 2018-09-03  September
2         3  In-store 2018-10-11    October
3         4  In-store 2018-08-21     August
4         5    Online 2018-08-13     August
5         6    Online 2018-10-29    October

In [ ]:
order_revenues = pd.DataFrame(data={
    'order_id': orders['order_id'], 
    'revenue': [100, 125, 200, ]
})